In [171]:
import pandas as pd

**kaggle**에서 **[영어 뉴스 토픽 데이터셋(label 0-5)](https://www.kaggle.com/datasets/kotartemiy/topic-labeled-news-dataset)**을 찾았는데 정치 데이터가 없어서

 **[정치 데이터셋(label 6)](https://www.kaggle.com/datasets/setseries/news-category-dataset)**을 따로 찾아, 잘라와서 붙였습니다.

In [172]:
DATA_PATH = '/content/drive/MyDrive/프로젝트/뉴스 토픽/'
en_train = pd.read_csv(DATA_PATH + 'labelled_newscatcher_dataset.csv', sep = ';')
pol = pd.read_csv(DATA_PATH + 'politics.csv', encoding = 'cp949')

In [173]:
en_train.head()

,topic,link,domain,published_date,title,lang
0,SCIENCE,https://www.eurekalert.org/pub_releases/2020-0...,eurekalert.org,2020-08-06 13:59:45,A closer look at water-splitting's solar fuel ...,en
1,SCIENCE,https://www.pulse.ng/news/world/an-irresistibl...,pulse.ng,2020-08-12 15:14:19,"An irresistible scent makes locusts swarm, stu...",en
2,SCIENCE,https://www.express.co.uk/news/science/1322607...,express.co.uk,2020-08-13 21:01:00,Artificial intelligence warning: AI will know ...,en
3,SCIENCE,https://www.ndtv.com/world-news/glaciers-could...,ndtv.com,2020-08-03 22:18:26,Glaciers Could Have Sculpted Mars Valleys: Study,en
4,SCIENCE,https://www.thesun.ie/tech/5742187/perseid-met...,thesun.ie,2020-08-12 19:54:36,Perseid meteor shower 2020: What time and how ...,en

In [174]:
pol.head()

   index                                              title topic_idx
0      0  GOP Congressman Suggests Looser Standard Of Pr...  POLITICS
1      1  The ACLU Is Suing To Strike Down Ohio's Congre...  POLITICS
2      2  Don't Like The New Climate Rules? Thank Congress.  POLITICS
3      3  The Story Behind An Iconic Picture Of Civil Ri...  POLITICS
4      4  Pro-Abortion Rights Progressive Wins Nebraska ...  POLITICS

## 불필요한 Column 제거
concat을 위해 column 이름을 통일

In [175]:
label0_5 = en_train.drop(['link', 'domain', 'published_date', 'lang'], axis = 1)
pol = pol.drop(['index'], axis = 1)
pol.rename(columns = {'topic_idx':'topic'}, inplace = True)

In [176]:
pd.DataFrame(label0_5['title'].apply(len)).describe()

               title
count  108774.000000
mean       71.798297
std        22.729889
min         4.000000
25%        58.000000
50%        69.000000
75%        83.000000
max       314.000000

In [177]:
pd.DataFrame(pol['title'].apply(len)).describe()

             title
count  4965.000000
mean     62.918026
std      19.500086
min       5.000000
25%      52.000000
50%      64.000000
75%      75.000000
max     260.000000

In [178]:
label0_6 = pd.concat([label0_5, pol], axis = 0)

In [179]:
label0_6.rename(columns = {'topic':'topic_idx'}, inplace = True)

In [180]:
topic_dict = {'BUSINESS': 1,
 'ENTERTAINMENT': 3,
 'NATION': 2,
 'POLITICS': 6,
 'SCIENCE': 0,
 'SPORTS': 5,
 'TECHNOLOGY': 0,
 'WORLD': 4}

In [181]:
def function(row):
    for topic, idx in topic_dict.items():
      if row == topic:
        return idx

label0_6['topic_idx'] = label0_6['topic_idx'].apply(function)

In [182]:
label0_6.dropna(axis = 0, inplace = True)

In [183]:
label0_6.head()

   topic_idx                                              title
0        0.0  A closer look at water-splitting's solar fuel ...
1        0.0  An irresistible scent makes locusts swarm, stu...
2        0.0  Artificial intelligence warning: AI will know ...
3        0.0   Glaciers Could Have Sculpted Mars Valleys: Study
4        0.0  Perseid meteor shower 2020: What time and how ...

In [184]:
label0_6['title_len'] = label0_6['title'].apply(len)

In [185]:
label0_6.head()

   topic_idx                                              title  title_len
0        0.0  A closer look at water-splitting's solar fuel ...         55
1        0.0  An irresistible scent makes locusts swarm, stu...         54
2        0.0  Artificial intelligence warning: AI will know ...         78
3        0.0   Glaciers Could Have Sculpted Mars Valleys: Study         48
4        0.0  Perseid meteor shower 2020: What time and how ...        100

In [186]:
label0_6.describe()

          topic_idx     title_len
count  98739.000000  98739.000000
mean       2.580439     71.628870
std        1.872687     22.962831
min        0.000000      4.000000
25%        1.000000     58.000000
50%        3.000000     69.000000
75%        4.000000     83.000000
max        6.000000    314.000000

In [187]:
label0_6['title_len'].describe()

count    98739.000000
mean        71.628870
std         22.962831
min          4.000000
25%         58.000000
50%         69.000000
75%         83.000000
max        314.000000
Name: title_len, dtype: float64

In [188]:
label0_6.groupby('topic_idx')[['title_len']].describe()

          title_len
              count       mean        std  min   25%   50%   75%    max
topic_idx
0.0         18774.0  68.271706  18.589813  7.0  57.0  67.0  79.0  297.0
1.0         15000.0  79.529600  35.350819  7.0  58.0  70.0  89.0  314.0
2.0         15000.0  69.302467  19.995667  4.0  56.0  68.0  82.0  285.0
3.0         15000.0  75.280333  19.855747  9.0  61.0  74.0  88.0  195.0
4.0         15000.0  69.347267  19.647881  4.0  57.0  67.0  80.0  309.0
5.0         15000.0  71.769800  18.903544  5.0  59.0  71.0  84.0  162.0
6.0          4965.0  62.918026  19.500086  5.0  52.0  64.0  75.0  260.0

In [189]:
pol['title_len'] = pol['title'].apply(len)

In [190]:
pol[(100 >= pol['title_len']) & (pol['title_len'] >= 10)].describe()

         title_len
count  4885.000000
mean     61.944933
std      17.416057
min      11.000000
25%      51.000000
50%      64.000000
75%      75.000000
max     100.000000

In [191]:
df = label0_6[(100 >= label0_6['title_len']) & (label0_6['title_len'] >= 10)]
df.describe()

          topic_idx     title_len
count  90511.000000  90511.000000
mean       2.602247     67.120913
std        1.890668     16.190847
min        0.000000     10.000000
25%        1.000000     56.000000
50%        3.000000     67.000000
75%        4.000000     79.000000
max        6.000000    100.000000

In [192]:
df.groupby('topic_idx')[['title_len']].describe()

          title_len
              count       mean        std   min   25%   50%   75%    max
topic_idx
0.0         17923.0  66.044635  15.377935  10.0  56.0  66.0  77.0  100.0
1.0         12290.0  66.130675  15.595908  11.0  56.0  66.0  77.0  100.0
2.0         14047.0  66.426710  16.745858  11.0  55.0  66.0  79.0  100.0
3.0         13446.0  71.151346  16.049711  10.0  60.0  71.0  84.0  100.0
4.0         14100.0  66.491489  15.996546  10.0  56.0  66.0  78.0  100.0
5.0         13820.0  68.653329  16.097773  11.0  58.0  69.0  80.0  100.0
6.0          4885.0  61.944933  17.416057  11.0  51.0  64.0  75.0  100.0

In [193]:
df2 = df.groupby('topic_idx').sample(n = 4885)

In [194]:
df2['title_len'].quantile(.90)

88.0

In [195]:
df2.groupby('topic_idx').describe()

          title_len
              count       mean        std   min   25%   50%   75%    max
topic_idx
0.0          4885.0  66.167656  15.362556  11.0  56.0  66.0  77.0  100.0
1.0          4885.0  66.000205  15.497926  11.0  56.0  66.0  77.0  100.0
2.0          4885.0  66.297032  16.602251  15.0  54.0  66.0  79.0  100.0
3.0          4885.0  70.933060  16.263413  10.0  59.0  72.0  84.0  100.0
4.0          4885.0  66.436233  16.048551  10.0  56.0  66.0  77.0  100.0
5.0          4885.0  68.779939  16.250461  11.0  58.0  69.0  80.0  100.0
6.0          4885.0  61.944933  17.416057  11.0  51.0  64.0  75.0  100.0

In [196]:
df2.to_csv(DATA_PATH + 'en_final_dataset.csv')